<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <!-- {{orderForm.valid}}<br/>
        {{orderForm.value | json}} -->

        <!-- <form #form="ngForm" novalidate > -->
          <form [formGroup]="orderForm" novalidate > 
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>  
          
          <div class="row">
            <div class="col-xs-12 col-sm-9">
              Seus Dados:
            </div>
            <div class="col-xs-12 col-sm-3">
                <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')" ><i class="fa fa-remove"></i> No match to e-mail</span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Required field" label="Name">
                <input class="form-control" placeholder="Name" formControlName="name" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container errorMessage="Invalid e-Mail" label="E-mail">
                <input class="form-control" formControlName="email" placeholder="E-Mail" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container errorMessage="Invalid e-Mail" label="E-mail confirmation">
                <input class="form-control" formControlName="emailConfirmation" placeholder="E-Mail confirmation" autocomplete="off">
              </mt-input-container>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Required field" label="Address">
                <input class="form-control" formControlName="address" placeholder="Address" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container errorMessage="Required field" label="Number">
                <input class="form-control" formControlName="number" placeholder="Number" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container errorMessage="Required field" label="Complement">
                <input class="form-control" formControlName="optionalAddress" placeholder="Complement" autocomplete="off">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-item [items]="cartItems()" 
              (increaseQty)="increaseQty($event)"
              (decreaseQty)="decreaseQty($event)"
              (remove)="remove($event)"></mt-order-item>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group" >
                    <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs 
                [delivery]="delivery"
                [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right" 
            [disabled]="!orderForm.valid || cartItems().length === 0">
              <i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->